services:
  db:
    image: postgres:15
    container_name: postgrespr
    restart: unless-stopped
    ports:
      - "54326:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./DB:/docker-entrypoint-initdb.d

  backendpr:
    build: ./Backend
    container_name: backendpr
    restart: unless-stopped
    ports:
      - "${BACKEND_PORT}:3000"
    depends_on:
      - db
    env_file:
      - .env

  frontendpr:
    build: ./Frontend
    container_name: frontendpr
    restart: unless-stopped
    ports:
      - "${FRONTEND_PORT}:5173"
    depends_on:
      - backendpr
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - ./Frontend:/app
      - /app/node_modules

  adminerpr:
    image: adminer:latest
    container_name: adminerpr
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  postgres_data:
