/* CONTENEDOR */
.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-bg);
}

/* CARD */
.login-card {
    background: var(--color-surface);
    padding: 30px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* TITULOS */
.login-title {
    text-align: center;
    font-size: 20px;
}

.login-subtitle {
    text-align: center;
    font-size: 14px;
    color: var(--color-text-muted);
}

/* FORM */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* BOTÓN */
.login-btn {
    width: 100%;
}

/* ERROR */
.login-error {
    color: var(--color-danger);
    font-size: 13px;
    text-align: center;
}