.row {
    transition: var(--transition);
}

.row:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.row td {
    padding: 10px;
    vertical-align: middle;
}

.row-actions {
    display: flex;
    gap: 8px;
}


.row-btn {
    padding: 5px 10px;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    font-size: 12px;

    transition: var(--transition);
}

/* EDITAR */
.row-btn.edit {
    background-color: var(--color-primary);
    color: white;
}

.row-btn.edit:hover {
    opacity: 0.85;
}

/* ELIMINAR */
.row-btn.delete {
    background-color: var(--color-danger);
    color: white;
}

.row-btn.delete:hover {
    opacity: 0.85;
}

/* VER */
.row-btn.view {
    background-color: #1e5128;
    color: white;
}

.row-btn.view:hover {
    opacity: 0.85;
}

/* AGREGAR A VENTA */
.row-btn.addV {
    background-color: #207311;
    color: white;
}

.row-btn.addV:hover {
    opacity: 0.85;
}

/* AGREGAR A COMPRA */
.row-btn.addC {
    background-color: #ac6816;
    color: white;
}

.row-btn.addC:hover {
    opacity: 0.85;
}